.ipynb_checkpoints
__pycache__
*.swp
*-validation.csv
*-crop.pdf
*~

Plastimatch_data/

pediatric_phantom_data/Pediatric phantom.zip
pediatric_phantom_data/Pediatric phantom/
pediatric_phantom_data/meshes/

notebooks

notebooks/outcmaes/

2-output_data/*.mha

notebooks/digimouse/atlas.zip
notebooks/digimouse/atlas/
notebooks/digimouse/ct_data.zip
notebooks/digimouse/ct_data/
notebooks/digimouse/meshes/
notebooks/digimouse/segmentations/
notebooks/gVirtualXRay_output_data/
notebooks/gVirtualXRay_output_data/digimouse-phantom-mu511keV.mha
notebooks/gVirtualXRay_output_data/digimouse-phantom-proj-511keV.mha
notebooks/gVirtualXRay_output_data/digimouse-phantom-sinogram-511keV.mha
notebooks/gVirtualXRay_output_data/digimouse_flat.mha
notebooks/gVirtualXRay_output_data/digimouse_ground_truth_CT_recons_in_mu.mha
notebooks/gVirtualXRay_output_data/digimouse_minus_log_projs.mha
notebooks/gVirtualXRay_output_data/digimouse_simu_CT_recons_in_mu.mha
notebooks/gVirtualXRay_output_data/digimouse_sinograms.mha
notebooks/plots/screenshot-beam-on-digimouse.pdf
notebooks/plots/screenshot-beam-on-digimouse.png

notebooks/VHP
notebooks/pediatric_phantom/
notebooks/pediatric_phantom_data/Pediatric\ phantom*
notebooks/pediatric_phantom_data/meshes
notebooks/pediatric_phantom_data/segmentations
notebooks/gVirtualXRay_output_data/l_buffer-*
notebooks/XRayAllAnatomy.zip
notebooks/VHP.zip
notebooks/gVirtualXRay_output_data/simpleCT_*.mha
notebooks/gVirtualXRay_output_data/HIPS_screenshot_*.tif
notebooks/gVirtualXRay_output_data/HIPS_xray_*.tif

1-GATE_vs_gVirtualXRay/outcmaes/

gvxr/col_0.stl
gvxr/col_1.stl
gvxr/col_2.stl
gvxr/col_3.stl
gvxr/col_4.stl
gvxr/json2gvxr.py
gvxr/matrix.stl
gvxr/*.mha
gvxr/test.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
