.ipynb_checkpoints
__pycache__
*.swp
*-validation.csv
*-crop.pdf
*~

notebooks/outcmaes/
notebooks/VHP
notebooks/pediatric_phantom/
notebooks/pediatric_phantom_data/Pediatric\ phantom*
notebooks/pediatric_phantom_data/meshes
notebooks/pediatric_phantom_data/segmentations
notebooks/gVirtualXRay_output_data/l_buffer-*
notebooks/XRayAllAnatomy.zip
notebooks/VHP.zip
notebooks/gVirtualXRay_output_data/simpleCT_*.mha
notebooks/gVirtualXRay_output_data/HIPS_screenshot_*.tif
notebooks/gVirtualXRay_output_data/HIPS_xray_*.tif

1-GATE_vs_gVirtualXRay/outcmaes/

gvxr/col_0.stl
gvxr/col_1.stl
gvxr/col_2.stl
gvxr/col_3.stl
gvxr/col_4.stl
gvxr/json2gvxr.py
gvxr/matrix.stl
gvxr/*.mha
gvxr/test.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
